
<!DOCTYPE html>
<html>
<header>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="~/Scripts/Charts/charts.js"></script>
    <script src="~/Scripts/Survey/DoctorChartHelper.js"></script>
    <script src="~/Scripts/Charts/speedHRChart.js"></script>
</header>
<body>

    <div id="container1">
        <input type="hidden" id="UserId" value="@ViewBag.UserId" />
        Doctor
    </div>
    <button id="button" class="autocompare">Add series</button>
    <div id="container"></div>

</body>
</html>


