


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fill the survey with patient data</title>

</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
        }
    </div>
</body>
</html>
