@model Modeler.Models.DataModels.DoctorSurveyModel




<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/Survey/hover.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>HeartScore</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div class="tooltip1">
                <h3> Gender </h3>
                <label>
                    Female
                    <input type="radio" name="gender" value="female" required>


                </label>
                <div class="invalid-feedback">
                    Choose one!
                </div>
                <label>
                    Male
                    <input type="radio" name="gender" value="male" required>

                </label>
                <span class="tooltiptext">The risk of heart disease in women is often underestimated due to the misperception that females are ‘protected’ against cardiovascular disease.</span>
            </div>

            <div class="tooltip1">
                <h3> Pacemaker </h3>
                <label>
                    Yes
                    <input type="radio" name="pacemaker" value=1 required>


                </label>
                <label>
                    No
                    <input type="radio" name="pacemaker" value=0 required>

                </label>
                <span class="tooltiptext"> When your heart rate drops below that set rate, your pacemaker generates (fires) an electrical impulse that passes through the lead to the heart muscle. This causes the heart muscle to contract, creating a heartbeat.</span>
            </div>

            <div class="tooltip1">
                <h3> Heart rate initial value </h3>
                <label>
                    <input type="number" name="hr" required>

                </label>
                <span class="tooltiptext">The relationship between heart rate and all-cause or cardiovascular morbidity and mortality reported that a high heart rate was associated with a higher risk.</span>
            </div>

            <div class="tooltip1">
                <h3>History</h3>
                <label>
                    Slightly suspicious
                    <input type="radio" name="lambdaSurvey.history" value=0>

                </label>
                <label>
                    Moderately suspicious
                    <input type="radio" name="lambdaSurvey.history" value=1>

                </label>
                <label>
                    Highly suspicious
                    <input type="radio" name="lambdaSurvey.history" value=2>

                </label>
                <span class="tooltiptext"> History of specific cardiovascular disease can be: heart attack, coronary artery disease, vascular disease, heart murmur, rheumatic fever, enlarged heart, heart failure, ectopy, hypertension, history of heart surgery, history of other vascular disease.</span>
            </div>
            <div class="tooltip1">
                <h3>EKG</h3>
                <label>
                    Normal
                    <input type="radio" name="lambdaSurvey.ekg" value=0>

                </label>
                <label>
                    Non-specific repolarization disturbance
                    <input type="radio" name="lambdaSurvey.ekg" value=1>

                </label>
                <label>
                    Significant ST deviation
                    <input type="radio" name="lambdaSurvey.ekg" value=2>

                </label>
                <span class="tooltiptext">Non-specific repolarization disturbance: No ST deviation but LBBB, LVH, repolarization changes (e.g. digoxin) Significant ST deviation: ST deviation not due to LBBB, LVH, or digoxin</span>
            </div>
            <div class="tooltip1">
                <h3>Age</h3>
                <label>
                    Less than 45
                    <input type="radio" name="lambdaSurvey.age" value=0>

                </label>
                <label>
                    Between 45 and 64
                    <input type="radio" name="lambdaSurvey.age" value=1>


                </label>
                <label>
                    More than 65
                    <input type="radio" name="lambdaSurvey.age" value=2>

                </label>
                <span class="tooltiptext">Age is a well known traditional risk factor, which is generally considered to be non-modifiable for obvious reasons.</span>
            </div>

            <div class="tooltip1">
                <h3>Risk factors</h3>
                <label>
                    No known risk factors
                    <input type="radio" name="lambdaSurvey.riskFactors" value=0>

                </label>
                <label>
                    1-2 risk factors
                    <input type="radio" name="lambdaSurvey.riskFactors" value=1>

                </label>
                <label>
                    >=3 risk factors or history of atherosclerotic disease
                    <input type="radio" name="lambdaSurvey.riskFactors" value=2>

                </label>
                <span class="tooltiptext"> Risk factors: HTN, hypercholesterolemia, DM, obesity(BMI > 30 kg / m²), smoking(current, or smoking cessation ≤3 mo), positive family history(parent or sibling with CVD before age 65); atherosclerotic disease: prior MI, PCI/ CABG, CVA / TIA, or peripheral arterial disease</span>
            </div>

            <div class="tooltip1">
                <h3>BMI</h3>
                <label>
                    Normal weight
                    <input type="radio" name="lambdaSurvey.initialTroponin" value=0>


                </label>
                <label>
                    Overweight
                    <input type="radio" name="lambdaSurvey.initialTroponin" value=1>

                </label>
                <label>
                    Obesity
                    <input type="radio" name="lambdaSurvey.initialTroponin" value=2>

                </label>
                <span class="tooltiptext"> Body mass index (BMI) is a measure of body fat based on height and weight that applies to adult men and women. </span>
            </div>

            <div class="tooltip1">
                <h3>Daily exercise</h3>
                <label>
                    Less than 1 km
                    <input type="radio" name="lambdaSurvey.exercise" value=2>


                </label>
                <label>
                    1-3 km
                    <input type="radio" name="lambdaSurvey.exercise" value=1>

                </label>
                <label>
                    More than 3 km
                    <input type="radio" name="lambdaSurvey.exercise" value=0>

                </label>
                <span class="tooltiptext"> Regular exercise has a favorable effect on many of the established risk factors for cardiovascular disease.  </span>
            </div>

            <input type="submit" value="Calculate">

        }
    </div>
</body>
</html>
